.comment {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
  min-height: 80px;
  padding: 15px 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17.4px);
  -webkit-backdrop-filter: blur(17.4px);
  border: 1px solid rgba(255, 255, 255, 0.33);
}

.commentHead {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.commentArea {
  border: 1px solid #343434;
  border-radius: 6px;
  min-height: 60px;
  padding: 8px;
  width: 90%;
  resize: none;
}

.avatar {
  height: 60px;
  width: 60px;
  position: relative;
}

.proifleImage {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.logoutButton {
  position: absolute;
  top: -6px;
  left: -6px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: red;
  border: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 10px;
}

.sendButton {
  background: linear-gradient(#407045, #305530);
  border-color: #083;
  color: #e2e2e2;
  border: 1px solid;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 5px 16px;
  width: 100px;
  margin-left: auto;
}

.disableButton {
  background: linear-gradient(#203522, #152715);
  border-color: #041;
  cursor: default;
}

.signin {
  margin-bottom: 5px;
}
