.form {
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 10px;
}

.input {
  border: 1px solid #343434;
  border-radius: 6px;
  min-height: 20px;
  padding: 8px;
  width: 90%;
  resize: none;
}

.textarea {
  border: 1px solid #343434;
  border-radius: 6px;
  min-height: 60px;
  padding: 8px;
  width: 90%;
  resize: none;
}

.button {
  background: linear-gradient(#407045, #305530);
  border-color: #083;
  color: #e2e2e2;
  border: 1px solid;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 5px 16px;
  width: 100px;
}
